<mat-card>
    <mat-card-header>
        Registrate a player
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Player name</mat-label>
            <mat-hint>Enter a name</mat-hint>
            <input matInput [(ngModel)]="playername">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Select a team</mat-label>
            <mat-select [(ngModel)]="playerteam">
                <mat-option *ngFor="let team of teamList" [value]="team.name">{{team.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Shirt number</mat-label>
            <mat-hint>Enter a number</mat-hint>
            <input min="0" step="1" type="number" matInput [(ngModel)]="playernumber">
          </mat-form-field>
    </mat-card-content>
    <mat-card-footer>
        <button mat-button (click)="makePlayer()">
            Send
        <mat-icon >backup</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
<h3>stored players</h3>
<mat-list role=list>
    <mat-list-item *ngFor="let player of playerList">
        <p>{{player | playerPipe}}</p>
    </mat-list-item>
</mat-list>