<mat-toolbar>
  <div id="menuflex">
  <span [routerLink]="['']">{{"Focibase" | uppercase}}</span>
  <button mat-button [matMenuTriggerFor]="menu">Authentication</button>
  <mat-menu #menu="matMenu">
    <ng-template [ngIf]="isLoggedIn" [ngIfElse]="nouser">
      <button mat-menu-item (click)="signout()">Sign out</button>
    </ng-template>
    <ng-template #nouser>
      <button mat-menu-item [routerLink]="['/login']">Log in</button>
      <button mat-menu-item [routerLink]="['/signup']">Sign up</button>
    </ng-template>
  </mat-menu>
  <button  mat-button [routerLink]="['/manager']">
    <mat-icon>home</mat-icon>
    To matchManager
  </button>
  <span id="user" *ngIf="isLoggedIn">logged in as: {{user?.email}}</span>
</div>
</mat-toolbar>
<router-outlet></router-outlet>
