<mat-toolbar>
  <span (click)="home()">{{"Focibase" | uppercase}}</span>
  <button mat-button [matMenuTriggerFor]="menu">Authentication</button>
  <mat-menu #menu="matMenu">
    <ng-template [ngIf]="isLoggedIn()" [ngIfElse]="nouser">
      <button mat-menu-item>Sign out</button>
    </ng-template>
    <ng-template #nouser>
      <button mat-menu-item (click)="login()">Log in</button>
      <button mat-menu-item (click)="signup()">Sign up</button>
    </ng-template>
  </mat-menu>
  <span *ngIf="isLoggedIn()">{{this.getCurrentUser()!.email}}</span>
</mat-toolbar>
<router-outlet></router-outlet>
